body{
	font-family: 'Alegreya Sans SC', sans-serif;
	color: #FAF3BC;
	background: black repeat;
}

a {
	color: #4fb69f;
	text-decoration: none;
}

h1 {
	font-size: 1.75em;
	letter-spacing: -1.5px;
}

h2 {
	font-size: 1.5em;
	color: #b4c34f;
}

.btn {
	color: #faf3bc;
	background: #4fb69f no-repeat right top;
	padding: 15px 30px;
	margin: 40px 0px;
	border-radius: 50px;
	text-transform: uppercase;
}

.btn:hover{
	background-color: #4cc4a7;
}

ul.nav {
	margin: 120px 0 0 0;
	list-style: none;
	float: right;
}

ul.nav li {
	float: left;
	margin-right: 40px;
}

ul.nav li a {
	color: #b4c34f;
	font-size: 1.25em;
}

/*#intro {
	margin: 0px 0 0px 0;
}*/


#new-shoes img{
	border: 8px solid #faf3bc;
	margin: 0 0 20px 0;
}


#featured-shoe img{
	border: 8px solid #faf3bc;
}

#copyright {
	border-top: 8px solid #2a0400;
	padding: 10px 0px;
	margin: 15px 0px;
	text-align: center;
}


