
@font-face { 
	font-family:'Trajan Pro'; 
	src:url(http://www.e7chun.com/portfolio/fonts/TrajanPro-Regular.ttf);
} 
#header {
	font-family: 'Trajan Pro', serif;	
	text-align: center;
	color: #A3A3A3;
	letter-spacing: 2px;
}
#header img {
	height: 15%;
	width: 15%
}
.container {
	font-family: 'Trajan Pro', serif;
}
#logo {
	-webkit-transition: all 0.5s ease;
     -moz-transition: all 0.5s ease;
       -o-transition: all 0.5s ease;
      -ms-transition: all 0.5s ease;
          transition: all 0.5s ease;
}
#logo:hover {
	border-radius: 50%;
	-webkit-transform: rotate(540deg);
     -moz-transform: rotate(540deg);
       -o-transform: rotate(540deg);
      -ms-transform: rotate(540deg);
          transform: rotate(540deg);
}

li {
	border-bottom: dotted 1px #A3A3A3;
	border-top: dotted 1px #A3A3A3;
	padding: 17px;
	margin: 10px;
	display: inline;
	margin-right: 50px;
}
li:hover {
	-webkit-filter: brightness(60%);
}

a {
	color: #A3A3A3;
	text-decoration: none;
}
#about h1{
	font-size: 50px;
	text-indent:50px;
	color: #8C8C8C;
}
#about p{
	text-align: left;
	padding-left:50px;
	color: #A3A3A3;
}

#nike_artistry img{
	height: 60%;
	width: 60%;
	border: solid 4px #DCDCDC;
	box-shadow: 7px 7px 5px #828282;
}
#nike_artistry img:hover {
  -webkit-filter: brightness(60%);
}

#dbc_pizza img{
	height: 60%;
	width: 60%;
	border: solid 4px #DCDCDC;
	box-shadow: 7px 7px 5px #828282;
}
#dbc_pizza img:hover {
  -webkit-filter: brightness(60%);
}
#dbc_medical img{
	height: 60%;
	width: 60%;
	border: solid 4px #DCDCDC;
	box-shadow: 7px 7px 5px #828282;
}#dbc_medical img:hover {
  -webkit-filter: brightness(60%);
}
#navbar img{
	height: 60%;
	width: 60%;
	border: solid 4px #DCDCDC;
	box-shadow: 7px 7px 5px #828282;
}#navbar img:hover {
  -webkit-filter: brightness(60%);
}
#nike_artistry p {
	color: #A3A3A3;
}
#dbc_pizza p {
	color: #A3A3A3;
}
#dbc_medical p {
	color: #A3A3A3;
}
#navbar p {
	color: #A3A3A3;
}
#copyright {
	font-family: 'Trajan Pro', serif;
	text-align: center;
	color: #DCDCDC;
}

#social_media img{
	height: 4%;
	width: 4%;
}

#social_media img:hover{
	-webkit-filter: brightness(90%);
}

#me {
	border: 4px #DCDCDC;
	/*box-shadow: 7px 7px 5px #828282;*/
}
/*#contact {
	text-align: center;
}*/
#contact p{
	color: #A3A3A3;
	text-align: center;
	margin: 4px;
}

#contact h1 {
	font-size: 50px;
	text-align: center;
	margin: 5px;
	color: #8C8C8C;
}
#contact h2 {
	font-size: 35px;
	text-align: center;
	margin: 5px;
	color: #A3A3A3;
}
#facebook h3 {
	color: #8C8C8C;
	/*text-align: left;*/
	border-bottom: solid 3px #8C8C8C;
	margin-right: 100px;
	
}
#facebook p{
	text-align: left;
}
#twitter p {
	text-align: left;
}
#linkedin p {
	text-align: left;
}

#twitter h3 {
	color: #8C8C8C;
	/*text-align: center;*/
	border-bottom: solid 3px #8C8C8C;
	margin-right: ;
}
#linkedin h3 {
	color: #8C8C8C;
	/*text-align: center;*/
	border-bottom: solid 3px #8C8C8C;
	margin-right: 100px;
}
table {
	margin-left: auto;
margin-right: auto;
}
b {
	visibility: hidden;
}
#contact img {
	height: 7%;
	width: 7%;
}
#facebook a:hover {
	-webkit-filter: brightness(70%);
}
#twitter a:hover {
	-webkit-filter: brightness(70%);
}
#linkedin a:hover {
	-webkit-filter: brightness(70%);
}





